@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@649&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

body {
    background: rgb(23,52,101);
    background: radial-gradient(circle, rgba(23,52,101,1) 35%, rgba(0,30,56,1) 100%); 
    color: whitesmoke;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link, a:visited {
    color: whitesmoke;
    text-decoration: none;
}

header {
                display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    padding: 16px;

    color: white;
    background: rgb(1,12,30);
    background: radial-gradient(circle, rgba(1,12,30,0.9598433123249299) 24%, rgba(0,30,56,1) 100%);
}

.logo {
    color: whitesmoke;
    margin-right: auto;
    cursor: pointer;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0.5rem;
    flex-wrap: wrap;
}

/* all above code is for the general page layout and nav bar */

.section-1 > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section, .section-1 > * {
    font-size: 24px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;    
    justify-content: center;


    width: 100%;
    max-width: 800px;

    margin: auto;
    margin-bottom: 15px;
}
/* basic page layout above */


.gallery-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: solid 2px lightgreen; */
}

 .gitem {
    height: 40vh;
    flex-grow: 1;
    list-style: none;
}
  
img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

img:hover {
    border: solid white 1.5px;
}

/* image gallery css */



.item-0 {    
    font-size: xx-large;
    width: 100%;
    max-width: 800px;

    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px ;
}

.item-1 {
    font-size: 24px;
}