@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
html {
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border: solid black;
    padding: 6px;
}

.fa-landmark, .fa-solid {
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin: 0.5rem;
}